main {
    display: block;
    height: 100%;
}

#row {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin: auto auto;
}

div {
    width: fit-content;
    height: fit-content;
}

img {
    height: 250px;
    margin: 10px;
}
