body {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin: 50px 100px;
    background-color: rgba(87, 87, 87, 0.281);
}

main {
    display: block;
    height: fit-content;
}

form {
    height: 100%;
    margin: 50px 100px;
}

#row {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin: 50px 100px;
    background-color: rgba(87, 87, 87, 0.281);
}

div {
    width: fit-content;
    height: fit-content;
    max-width: 200px;
    overflow: hidden;
}

img {
    height: 200px;
    /* border: 1px solid black; */
    margin-top: 50px;
    margin-bottom: 50px;
}

.chart-holder {
    margin: 50px 100px;
    position: relative;
}

p {
    font-family: 'Comfortaa', cursive;
}

footer {
    background: rgba(87, 87, 87, 0.281);
    height: 100px;
}